[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/CppLog"]
	path = vendor/CppLog
	url = https://github.com/WSWhitehouse/CppLog.git
[submodule "vendor/whereami"]
	path = vendor/whereami
	url = git@github.com:gpakosz/whereami.git
